.compendium-exporter-app {
  --gap-size: 10px;
}
.compendium-exporter-app .inner-wrapper {
  overflow-y: auto;
}
.compendium-exporter-app .inner-wrapper > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.compendium-exporter-app .drop-zone {
  height: 60%;
  border: 2px dashed #888;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.compendium-exporter-app .warn-babele {
  color: #8b8000;
  background-color: #ffffcc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #8b8000;
}
.compendium-exporter-app .sheet-tabs {
  margin-bottom: 5px;
  border: 1px solid gray;
  padding: 5px 0;
}
.compendium-exporter-app .form-fields {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.compendium-exporter-app fieldset {
  margin-bottom: 10px;
}
.compendium-exporter-app .mapping-fields {
  gap: var(--gap-size);
}
.compendium-exporter-app .mapping-fields .remove-mapping {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
.compendium-exporter-app .mapping-actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: var(--gap-size);
}
.compendium-exporter-app .mapping-actions button {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.compendium-exporter-app .mapping-actions button.small {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}
.compendium-exporter-app .footer {
  margin-top: 10px;
  gap: var(--gap-size);
}
.compendium-exporter-app .d-none {
  display: none;
  width: 0;
  height: 0;
}